<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container-fluid">

    <div class="row justify-content-center" style="padding: 10%">
        <div class="col-12">
            <h3>Servicio envio fotos</h3>

            <form method="POST"
                  class="form-group"
                  enctype="multipart/form-data"
                  th:action="@{/gophoto}">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="image-upload" style="padding-top: 1%;">
                            <label for="file">
                                <img th:src="@{/images/camera.png}"
                                     class="image-camera"/>
                            </label>
                            <input id="file"
                                   type="file"
                                   class=""
                                   accept="image/*"
                                   capture="camera"
                                   name="file"/>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" style="padding-top: 1%;">
                    <div class="col-6" style="padding-top: 1%;">
                        <input type="email" name="email" id="email"
                               class="form-control" placeholder="EMAIL DEL CLIENTE"/>
                    </div>
                    <div class="col-6" style="padding-top: 1%;">
                        <input type="submit" class="btn btn-primary" value="Enviar"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>