<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>GO · GROUP</h1>
            <a th:href="@{/admin}" class="btn btn-default">Servicio envio fotos</a>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>